.sidebar {
  position: fixed;
  z-index: 10;
  width: 300px;
  background-color: $sidebar-bg;
  height: 100vh;
  float: left;
  &__user{
    height: 100px;
    background-color: #253141;
    &__contents{
      height: 100px;
      margin: 0 20px;
      &__name{
        color: white;
        font-weight: bold;
        font-size: 16px;
        float: left;
        line-height: 100px;
      }
      &__icon-chat{
        float: right;
        margin-top: 40px;
        color: white;
      }
      &__icon-edit{
        float: right;
        margin-top: 40px;
        color: white;
      }



    }
  }
  //
  a{
    text-decoration: none;
  }
  &__groups{
    padding: 0 20px 0px 20px;
  &:hover{
    background-color: lighten($sidebar-bg,10%);
  }
    &__title{
      padding-top: 20px;
      font-size: 15px;
      color: white;
      margin-bottom: 5px;
    }
    &__text{
      font-size: 11px;
      color: white;
      padding-bottom: 20px;
    }
  }

}
